{% extends 'base.html' %}


{% block body %}
<div class="container">
	<div class="col-md-8 offset-md-2  mt-5">
		Your cart ID: #CC0{{cart.id}}
		<table class="table table-striped">
			<thead>
				<tr>
			      <th scope="col">#</th>
			      <th scope="col">Product</th>
			      <th scope="col">Quantity</th>
			      <th scope="col">Price</th>
			      <th scope="col">Total</th>
			      <th scope="col">Options</th>
			    </tr>
			</thead>
			<tbody>
				{% for item in cart_items %}
			    <tr class="wrapper-item" id="unique-item-{{item.id}}" item-id='{{item.id}}'>
			      <td scope="row">{{forloop.counter}}</td>
			      <td>{{item.product.name}}</td>
			      <td>
			      	<div class="btn-group" role="group" aria-label="Basic example">
					  <button type="button" class="btn btn-secondary minus">-</button>
					  <input class="qty" style="width: 40px;" type="text" value="{{item.quantity}}" name="qty">
					  <button type="button" class="btn btn-secondary maxi">+</button>
					</div>
			      </td>
			      <td class="price" value="{{item.price}}">{{item.price}} $</td>
			      <td class="total">{{item.total}} $</td>
			      <td style="text-align: center;">
			      	<a href="/remove-from-cart/{{item.product.id}}"><i class="fa fa-trash text-danger"></i></a>
			     	</td>
			  	</tr>
			  	{% empty %}
			  	<tr>
			  		<td colspan="4">
			  			Your cart is empty
			  		</td>
			  	</tr>
			  	{% endfor %}
		 	</tbody>
		 	<tfoot>
		 		<tr style="font-weight: bold;">
		 			<td colspan="2" style="text-align: right;">TOTAL</td>
		 			<td class="cart_item_total">{{cart.total_item_2}}</td>
		 			<td>-</td>
		 			<td>{{cart.grand_total}} $</td>
		 		</tr>
		 	</tfoot>
	</table>

	<div class="text-right mb-5" style="text-align: right;">
		<a href="/checkout" class="btn btn-lg btn-dark">Checkout <i class="fa fa-chevron-right"></i></a>
	</div>
</div>
</div>
{% endblock body %}

{% block script %}
<script type="text/javascript">
	// get the minus button
	let minBtnList = document.querySelectorAll('.wrapper-item button.minus');

	// get the maxi button
	let maxBtnList = document.querySelectorAll('.wrapper-item button.maxi');


	for(var i = 0; i < minBtnList.length; i++){
		minBtnList[i].addEventListener('click', function(){
			let par = this.closest('tr.wrapper-item');
			setQty(par, -1);	
		});
	}

	for(var i = 0; i < maxBtnList.length; i++){
		maxBtnList[i].addEventListener('click', function(){
			let par = this.closest('tr.wrapper-item');
			setQty(par, 1);	
		});
	}

	function setQty(parent, step){
		let element = parent.querySelector("input[name=qty]");
		let qty = parseInt(element.value);
		let nwQty = qty + step;
		element.value = nwQty;

		let price = parseFloat(parent.querySelector("td[class=price]").getAttribute("value"));

		// Update the frontend
		updateTotal(nwQty, price, parent.querySelector("td[class=total]"));

		// update global cart
		let globalCartEl = document.querySelector('.global_cart_total');
		let cartItemEl = document.querySelector('.cart_item_total');
		let newText = parseInt(globalCartEl.innerText) + step;
		globalCartEl.innerText = newText;
		cartItemEl.innerText = newText;

		// Save data in Backend(Django)
		sendData({qty: nwQty, price, item_id: parent.getAttribute('item-id')});
	}

	// Modfiye kolòn total 
	function updateTotal(nwQty, price, totalNode){
		newTotal = nwQty * price;
		totalNode.innerText = `${newTotal.toFixed(1)} \$`;
	}

	function sendData(data){
		let xhr = new XMLHttpRequest();

		var formData = new FormData();
		for ( var key in data) {
		    formData.append(key, data[key]);
		}


		xhr.open('POST', "", true)
		xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
		xhr.onreadystatechange = function () {
	        // if (xhr.readyState === 4 && xhr.status === 200) {
	        //     var res = JSON.parse(xhr.response);
	        //     console.log(res);
	        // }
	    };
		xhr.send(formData);
	}

</script>
{% endblock script %}